<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <html ng-app="ionicApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    
    <title>Sign-in, Then Tabs Example</title>

    <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
      <script src="js/ng-cordova.min.js"></script>
      <script src="cordova.js"></script>
  </head>

  <body ng-app="ionicApp">
    
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button class="button-icon ion-arrow-left-c">
      </ion-nav-back-button>
    </ion-nav-bar>
             
    <ion-nav-view></ion-nav-view>

    <script id="templates/sign-in.html" type="text/ng-template">
      <ion-view view-title="Sign-In">
        <ion-content>
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Username</span>
              <input type="text" ng-model="username">
            </label>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password" ng-model="password">
            </label>
          </div>
          <div class="padding">
            <button class="button button-block button-positive" ng-click="signIn(username,password)">
              Sign-In
            </button>
            <p class="text-center">
              <a href="#/forgot-password">Forgot password</a>
              <a href="#Registration ">Registration</a>
              <a href="#changepassword">changepassword</a>
              <a href="#deleterecord">deleterecord</a>
            </p>
          </div>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/forgot-password.html" type="text/ng-template">
      <ion-view view-title="Forgot Password">
        <ion-content padding="true">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Enter your Email ID</span>
              <input type="text" ng-model="user.username">
            </label>
	  </div>
          <div class="padding">
            <button class="button button-block button-positive" ng-click="signIn(user)">
              Submit
            </button>
          <p>
            Return to <a href="#/sign-in">Sign-In</a>.
          </p>
        </ion-content>
      </ion-view>
    </script>
    <script id="templates/Registration.html" type="text/ng-template">
     <ion-view view-title="Registration">
        <ion-content padding="true">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Enter name </span>
              <input type="text" ng-model="name">
             
            </label>
	  </div>
    <div class="list">
            <label class="item item-input">
              <span class="input-label">password </span>
              <input type="password" ng-model="password">
             
            </label>
	  </div>
    <div class="list">
            <label class="item item-input">
              <span class="input-label">enter mail id  </span>
              <input type="text" ng-model="email">
             
            </label>
	  </div>
          <div class="padding">
            <button class="button button-block button-positive" ng-click="register(name,password,email)">
              Submit1
            </button>
            <p> {{msg}} </p>
          <p>
            Return to <a href="#/sign-in">Sign-In</a>.
          </p>
        </ion-content>
      </ion-view>
    </script>
    
    <script id="templates/changepassword.html" type="text/ng-template">
     <ion-view view-title="changepassword">
        <ion-content padding="true">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">email </span>
              <input type="text" ng-model="email">
             
            </label>
	  </div>
    <div class="list">
            <label class="item item-input">
              <span class="input-label">oldpassword </span>
              <input type="password" ng-model="oldpwd">
             
            </label>
	  </div>
    <div class="list">
            <label class="item item-input">
              <span class="input-label">newpassword </span>
              <input type="password" ng-model="newpwd">
             
            </label>
	  </div>
          <div class="padding">
            <button class="button button-block button-positive" ng-click="changePwd(email,oldpwd,newpwd)">
              Register
            </button>
            <p> {{msg}} </p>
          <p>
            Return to <a href="#/sign-in">Sign-In</a>.
          </p>
        </ion-content>
      </ion-view>
    </script>
    
      <script id="templates/deleterecord.html" type="text/ng-template">
     <ion-view view-title="deleterecord">
        <ion-content padding="true">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">username </span>
              <input type="text" ng-model="username">
             
            </label>
	  </div>
    <div class="list">
            <label class="item item-input">
              <span class="input-label">password </span>
              <input type="password" ng-model="pwd">
             
            </label>
	  </div>
          <div class="padding">
            <button class="button button-block button-positive" ng-click="remove(username,pwd)">
              Remove
            </button>
            <p> {{msg}} </p>
          <p>
            Return to <a href="#/sign-in">Sign-In</a>.
          </p>
        </ion-content>
      </ion-view>
    </script>
    
    <script id="templates/tabs.html" type="text/ng-template">
      <ion-view>
        <ion-tabs class="tabs-icon-top tabs-positive">

          <ion-tab title="Home" icon="ion-home" href="#/tab/home">
            <ion-nav-view name="home-tab"></ion-nav-view>
          </ion-tab>

          <ion-tab title="Gallery" icon="ion-ios-information" href="#/tab/Gallery">
            <ion-nav-view name="Gallery-tab"></ion-nav-view>
          </ion-tab>

          <ion-tab title="Sign-Out" icon="ion-log-out" href="#/sign-in">
          </ion-tab>

        </ion-tabs>
      </ion-view>
    </script>

    <script id="templates/home.html" type="text/ng-template">
      <ion-view view-title="Home">
        <ion-content padding="true" ng-controller="PictureCtrl" padding="true">
<button class="button button-full button-assertive" ng-click="takePhoto()">
Take Photo
</button>
<button class="button button-full button-assertive" ng-click="choosePhoto()">
Choose Photo
</button>
<img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" style="text-align: center">
        </ion-content>
      </ion-view>
    </script>


    <script id="templates/Gallery.html" type="text/ng-template">
      <ion-view view-title="Contacts">
        <ion-content ng-controller="ExampleController" ng-init="loadImages()">
          <div class="row" ng-repeat="image in images" ng-if="$index %4 === 0">
             <div class="col col-25" ng-if="$index < images.length">
             <img ng-src="{{images[$index].src}}" width="100%" /> 
             </div>
             <div class="col col-25" ng-if="$index < images.length">
             <img src="images/logo.svg">
             </div>
              <div class="col col-25" ng-if="$index + 1 < images.length">
             <img ng-src="{{images[$index+1].src}}" width="100%" /> 
             </div>
              <div class="col col-25" ng-if="$index + 2 < images.length">
             <img ng-src="{{images[$index+2].src}}" width="100%" /> 
             </div>
              <div class="col col-25" ng-if="$index + 3 < images.length">
             <img ng-src="{{images[$index+3].src}}" width="100%" /> 
             </div>
          </div>
      </ion-content>
      </ion-view>
      </script>
  </body>
</html>