<script id="templates/home.html" type="text/ng-template">
      <ion-view view-title="Home">
        <ion-content padding="true" ng-controller="PictureCtrl" padding="true">
<button class="button button-full button-assertive" ng-click="takePhoto()">
Take Photo
</button>
<button class="button button-full button-assertive" ng-click="choosePhoto()">
Choose Photo
</button>
<img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" style="text-align: center">
        </ion-content>
      </ion-view>
    </script>