<ion-view="Firebase Login">
	<ion-content>
		<div>
			<div class="list list-inset">
				<label class="item item-input">
					<input ng-model="username" type="text" placeholder="Username"/>
					</label>
					<label class="item item-input">
						<input ng-model="password" type="text" placeholder="Username"/>
					</label>
					<label class="item item-input">
						<input ng-model="password" type="password" placeholder="password"/>
						</label>
						</div>
						<div class="padding-left padding right">
							<div class="btton-bar">
								<a class="button" ngclick="login(username,password)">Login</a>
								<a class="button" ng-click="register(username,password)">Register</a>
								</div>
								</div>
								</div>
								</ion-content>
								</ion-view>	