<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.ibm.etools.wdt.server.launchConfigurationType">
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/jre1.8.0_60"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:/Users/sravanthi-pc/workspace/.metadata/.plugins/com.ibm.etools.wdt.server.core/tmp0"/>
<stringAttribute key="server-id" value="defaultServer0"/>
</launchConfiguration>
